<style>
  .wrapper {

      margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
  }
  .footer, .push {
      height: 155px; /* .push must be the same height as .footer */
  }
</style>

<div class="push"></div>


<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                      <p id="host"><a href="http://www.zwei-de.ch" target="_blank">Hosting & Design by zwei-de </a>&copy; Copyright 2020<span> zwei-de</span></p>
            </div>

        </div>
    </div>
</div>
